---
import {  Eye } from 'lucide-astro';

interface Props {
  id?: string;
  class?: string;
  src: string;
  alt: string;
  url: string;
}

const {id, class: className = '', src, alt, url } = Astro.props;
---

<div id={id}  class={`relative group ${className}`}>
  <a href={url} target="_blank" rel="noopener noreferrer">
    <source media="(min-width: 768px)" srcset="/assets/images/equiflowapi.png">
    <img 
      src={url}
      alt={alt}
      class="w-full h-auto rounded-2xl"
    />

  <div class="absolute inset-0 flex items-center justify-center">
    <!-- <div class="w-16 h-16 rounded-full border-2 border-white flex items-center justify-center bg-black/20 backdrop-blur-sm cursor-pointer hover:scale-110 transition-transform">
      
       <Eye class="text-accent w-5 h-5 md:w-7 md:h-7" />
    </div> -->
  </div>
</a>
</div>