---
interface Props {
  name: string;
  role: string;
  content: string;
  avatar: string;
  link: string;
}


const { name, role, content, avatar, link } = Astro.props;
---

<div class="testimonial-card">
  <div class="flex gap-1 mb-3">
    {[1, 2, 3, 4, 5].map(() => (
      <span class="text-[var(--color-yellow)] text-sm">★</span>
    ))}
  </div>

  <p class="testimonial-content">
    "{content}"
  </p>

<div class="flex items-center gap-3 mt-auto pt-4">
  <div class="flex items-center gap-3">
    <img 
      src={avatar} 
      alt={name} 
      class="w-10 h-10 rounded-full object-cover border border-[var(--color-accent)] shrink-0" 
    />
    <span class="author-name whitespace-nowrap">{name}</span>
  </div>

  <a 
    href={link} 
    target="_blank" 
    rel="noopener noreferrer" 
    class="ml-auto flex items-center gap-2 bg-[var(--color-yellow)] text-[var(--color-bg)] px-3 py-1 rounded-lg text-[11px] font-bold hover:scale-105 transition-transform shrink-0"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 10v6M2 10l10-5 10 5-10 5z"/><path d="M6 12v5c3 3 9 3 12 0v-5"/></svg>
    <span>Ver</span>
  </a>
</div>
</div>

<style>
  .testimonial-card {
    /* ESTILO GENERAL (Móvil y Desktop) */
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--color-yellow);
    background-color: var(--color-bg);
    width: 100%;
    max-width: 380px; 
    min-height: 230px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }



  /* AJUSTE SOLO PARA TABLET (Entre 768px y 1023px) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .testimonial-card {
      height: 180px;    
      padding: 1rem;    
    }
    
    .testimonial-content {
      font-size: 12px;  
      -webkit-line-clamp: 4; 
    }
  }

  /* ESTILO PARA DESKTOP (1024px en adelante) */
  @media (min-width: 1024px) {
    .testimonial-card {
      height: 220px; 
      margin-right: 15px;
    }
  }

  .testimonial-content {
    font-family: var(--font-body);
    font-size: 13px;
    font-weight: 300;
    color: var(--color-text);
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .author-name {
    font-family: var(--font-menu);
    font-size: 14px;
    font-weight: 600;
    color: var(--color-accent);
  }
</style>